
<ul class="social_footer">
  {% if site.weibo_url %}
  <li><a href="{{ site.weibo_url }}" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if site.wechat_url %}
  <li><a href="{{ site.wechat_url }}" target="_blank"><i class="fa fa-wechat" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-wechat" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if site.email_url %}
  <li><a href="{{ site.email_url }}" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
  {% endif %}
  {% if site.douban_url %}
  <li><a href="{{ site.douban_url }}" target="_blank"><i class="fa" aria-hidden="true">豆</i></a></li>
  {% else %}
  <li><a href="#" target="_blank"><i class="fa" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>