---
layout: default
---
{% include header.html %}

<main class="post_content">
  <article class="post">
    <header>
      <div class="post_image">
        <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
      </div>
      <div class="post_description">
        <p class="post_meta">{{page.date | date: '%Y-%m-%d'}}</p>
        <h1 class="post_title">{{page.title}}</h1>
      </div>
    </header> <!-- End Header -->

    <div class="entry_content">
      {{page.content | markdownify}}
    </div>
    
    <div class="post_wrapper">
      <footer class="post_footer cf">
        <div class="post_share">
          <span>分享到&nbsp;:</span>
          <div class="icon_a">
            <div class="bdsharebuttonbox">
              <a href="#" class="bds_print" data-cmd="print" title="打印"></a>
              <a href="#" class="bds_mail" data-cmd="mail" title="分享到Email"></a>
              <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"> </a>
              <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
              <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
              <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
              <a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"> </a>
              <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
              <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到FaceBook"></a>
              <a href="#" class="bds_linkedin" data-cmd="linkedin" title="分享到Linkedin"></a>
              <a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
              <a href="#" class="bds_more" data-cmd="more"></a>
            </div>
            <script>
              window._bd_share_config = {
                "common" : {
                  "bdSnsKey" : {},
                  "bdText" : "",
                  "bdMini" : "2",
                  "bdMiniList" : false,
                  "bdPic" : "",
                  "bdStyle" : "0",
                  "bdSize" : "24"
                },
                "share" : {},
                "image" : {
                  "viewList" : [ "print","weixin", "qzone", "tsina", "tqq", "renren",
                    "bdysc", "bdxc", "tqf", "mshare", "douban", "tieba",
                    "sqq" ,"fbook","linkedin","twi"],
                  "viewText" : "分享到：",
                  "viewSize" : "16"
                },
                "selectShare" : {
                  "bdContainerClass" : null,
                  "bdSelectMiniList" : [ "print","weixin", "qzone", "tsina", "tqq",
                    "renren", "bdysc", "bdxc", "tqf", "mshare", "douban",
                    "tieba", "sqq" ,"fbook","linkedin","twi"]
                }
              };
              with (document)
                0[(getElementsByTagName('head')[0] || body)
                        .appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='
                        + ~(-new Date() / 36e5)];
            </script>
          </div>
          <!--<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>-->
        </div>
        <div class="post_tag">
          <span>标签&nbsp;:</span>
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>
  </article> <!-- End Section Post -->

  <section class="author cf">
    <div class="post_wrapper">
      <div class="author_image">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{ site.author-pic }}{% endif %}" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}李温暖{% endif %}</h2>
        <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}一个可以穿着七八厘米细高跟狂奔的姑娘，一个可以凭借着大长腿翻越栅栏的姑娘，一个可以自己拧开水瓶盖不腻歪的姑娘。{% endif %}</p>
        <div class="author_social">
          {% if site.email %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{site.email}}</a></span>
          {% else %}
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:dwayne@example.com">1364145333@qq.com</a></span>
          {% endif %}
          
          {% if site.phone %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a></span>
          {% else %}
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:+496-169-65-57">15545008962</a></span>
          {% endif %}

          {% if site.website %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="{{site.website}}" target="_blank">{{site.website}}</a></span>
          {% else %}
          <span class="author_website"><i class="fa fa-link" aria-hidden="true"></i> <a href="#" target="_blank">http://www.shengshimeiyan0808.com</a></span>
          {% endif %}            
        </div>
      </div>
    </div>
  </section> <!-- End Section Author -->

  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">最近上传</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:6 %}
          {% if post.title %}
            <a href="{{ root_url }}{{ post.url }}" class="recent_item" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )"><span>{{ post.title }}</span></a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->
  
  {% include disqus.html %}
  
</main> <!-- End Section Post Content -->

{% include footer.html %}
